<div>
<div class="container">
<img src="../../../assets/markus-spiske-iar-afB0QQw-unsplash.jpg"  height="80px"  width="100%" alt="">
<div class="bottom-right"><p>{{value}}</p></div>
</div></div><nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
   
  <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"  >
            <a class="nav-link" data-bs-toggle="tap" routerLink="home" routerLinkActive="active" >Home</a>
          </li>
        <li class="nav-item" >
          <a class="nav-link" data-bs-toggle="tab" routerLink="services" routerLinkActive="active">Our Services</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" data-bs-toggle="tab" routerLink="contact" routerLinkActive="active">Contact us</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" data-bs-toggle="tab" routerLink="feedbacks" routerLinkActive="active">Recommendations</a>
          </li>
      </ul>
    </div>

  </nav>

  <router-outlet></router-outlet>
  <div class="mt-5 p-4 bg-dark text-white text-center">
    <p>©2023 all rights reserved</p>
  </div>
