.wrapper{
    width: 80%;
    background-color:rgba(128, 128, 128, 0.25);
    padding-right: 7%;
    padding-left: 7%;
    padding-top:3%;
    padding-bottom:3%;
    display: inline-block;
    text-align:left;
    margin-top:2%;
}
.parent{
    text-align: center;
}
// .nv-valid{
//     border-color: green($color: #13c437);
//     background-color: #13c437;
// }