<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="fakeimg">
          <img src="../../../assets/images/homePage.jpg" alt="" width="300">
        </div>
        
        <h4 class="mt-4">All you need in one place:</h4>
        <p>The answers to all of your questions</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">How can we help?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">How can you reach us?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feedbacks">What do our customers say?</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-lg-8">
        <h2>Chaim the technician</h2>
        <p>We have been providing reliable and professional computing services
           to businesses and individuals for over 15 years. Laptop and desktop 
           computer repair, communication solutions, backup solutions, 
           data encryption and recovery, servers and computer sales. We are 
           proud of the quick response time to every call and the comprehensive
            responsibility for every treatment and repair.</p>
        <h4>What do we do?</h4>
        <p>We specialize in all network computing solutions and in addition in support and service at the client's home. We provide service to both the private and business sectors and provide a quick and efficient response to any malfunction, repair service for all types of computers, and the sale of portable and stationary computers, data recovery, cloud backup, remote support, virus removal and more... Full warranty for all work and affordable prices for all pocket.</p>
      </div>
    </div>
  </div>
